* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* Tối ưu tốc độ hiển thị hình ảnh */
    text-rendering: optimizeSpeed;
    /* Tối ưu font chữ, khử răng cưa, tránh vỡ chữ */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.web {
    
}

.header {
    max-height: 70px;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.container {
    max-width: 1320px;
    margin: 0 112px;
}

.container_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_list {
    display: flex;
}

.logo_snapx {
    max-width: 142px;
    margin-top: 5px;
}

.logo_snapx img {
    width: 100%;
}

.container_list {
    list-style: none;
    margin-left: 14px;
}

.container_list-item {
    padding: 0px 30px;
    background-color: var(--primary-color);
    position: relative;
}

.container_list-item i {
    font-size: 12px;
    color: #fff;
    position: relative;
    bottom: 2px;
}

.container_list-item:first-child {
    padding-left: 60px;
}

.container_list-item:last-child {
    padding-right: 60px;
}

.container_list-item:nth-child(2) {
    padding-right: 2px;
}

.container_list-item-link {
    text-decoration: none;
    font-size: 14px;
    max-height: 70px;
    line-height: 70px;
    display: inline-block;
    color: #fff;
    letter-spacing: 1px;
}

.sub_menu {
    position: absolute;
    list-style: none;
    top: 70px;
    width: 90%;
    opacity: 0;
    visibility: hidden;
    transform: translateY(40%);
    transition: all ease 0.3s;
    z-index: -3;
}

.container_list-item:hover .sub_menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.sub_menu a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 100;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    display: block;
    background-color: #f7f7f7;
    color: #2a2a2a;
    letter-spacing: 1px;
    border-bottom: 1px solid #eee;
    transition: all ease 0.3s;
}

.sub_menu a:hover {
    padding-left: 25px;
    color: var(--primary-color);
    background-color: #fff;
}

.sign_in_up_button {}

.sign_in_up_button a {
    font-size: 15px;
    font-weight: 500;
    padding: 12px 30px;
    text-decoration: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    letter-spacing: 0.5px;
    transition: ease 0.3s;
}

.sign_in_up_button a:hover {
    background-color: var(--primary-color);
    color: #fff;
}

/* Banner */
.banner {
    min-height: 926px;
    background-image: url(https://templatemo.com/templates/templatemo_576_snapx_photography/assets/images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 290px;
    padding-bottom: 240px;
    text-align: center;
    background-color: #2a2a2a;
}

.header_text {
    max-width: 1100px;
    margin: auto;
}

.header_text-heading {
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    color: #fff;
}

.header_text-highlight {
    color: var(--primary-color);
    font-style: normal;
}

.header_text-desc {
    font-size: 15px;
    line-height: 28px;
    padding: 30px 0px;
    color: #fff;
    margin: 40px 75px 0px 75px;
    border-top: 1px solid rgba(250, 250, 250, 0.2);
}

.header_text-footer {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.header_text-button-link {
    font-size: 20px;
    color: #fff;
    border: 1px solid #fff;
    padding: 18px 30px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 500;
    letter-spacing: 0.5px;
    display: inline-block;
    transition: all ease 0.3s;
}

.header_text-button-link:hover {
    color: var(--primary-color);
    background-color: #fff;
}

.header_text-button-watch {
    font-size: 15px;
    margin-left: 32px;
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    display: inline-block;
    font-weight: 500;
    transition: ease 0.3s;
}

.header_text-button-watch:hover {
    color: var(--primary-color);
}

.header_text-button-watch i {
    padding-right: 5px;
    font-size: 16px;
}

/* Featured items */
.featured {
    margin: 0 112px;
    max-width: 1320px;
    position: relative;
    z-index: 5;
    top: -150px;
}

.featured_list {}

.featured_list-pictures {
    display: flex;
    justify-content: space-between;
}

.featured_list-pictures-item {
    width: 412px;
    position: relative;
    border-radius: 10px;
}

.featured_list-pictures-img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.featured_list-buttons {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-25px);
}

.featured_button-prev,
.featured_button-next {
    border: none;
    background: none;
    position: absolute;
}

.featured_button-prev {
    left: -70px;
}

.featured_button-next {
    right: -70px;
}

.featured_button-prev i,
.featured_button-next i {
    width: 46px;
    height: 46px;
    display: inline-block;
    line-height: 46px;
    border-radius: 50%;
    color: #fff;
    background-color: var(--primary-color);
    font-size: 13px;
    opacity: 0.75;
    transition: ease 0.3s;
}

.featured_button-prev i:hover,
.featured_button-next i:hover {
    opacity: 1;
    cursor: pointer;
}

/* Faeture list hover */
.featured_list-hover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(250, 250, 250, 0.92);
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: ease 0.3s;
}

.featured_list-pictures-item:hover .featured_list-hover {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.featured_list-hover-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #afafaf;
}

.featured_list-hover-heading {
    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.featured_list-hover-heading span {
    font-size: 14px;
    font-weight: 500;
    color: #afafaf;
}

.featured_list-hover-heading i {
    font-size: 14px;
}

.featured_list-hover-content ul {
    list-style: none;
}

.featured_list-hover-content li {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 7px;
}

.featured_list-hover-content li span {
    font-weight: 500;
    color: #2a2a2a;
}

/* Categories Items */
.categories {
    width: 100%;
}

.categories_container {
    padding: 0px 71px;
}

.cartegories_heading {
    display: flex;
    justify-content: space-between;
}

.cartegories_heading-items h6 {
    font-size: 15px;
    font-weight: 400;
    color: var(--primary-color);
    text-transform: uppercase;
}

.cartegories_heading-items h4 {
    margin-top: 10px;
    font-size: 30px;
    color: #212741;
    font-weight: 700;
}

.cartegories_heading-items em {
    font-style: normal;
    color: var(--primary-color);
}

.cartegories_heading-button a {
    font-size: 15px;
    padding: 13px 31px;
    color: #fff;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.5px;
    display: inline-block;
    transition: ease 0.3s;
}

.cartegories_heading-button a:hover {
    background-color: #fff;
    color: var(--primary-color);
}

.categories_content {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.categories_content-item {
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    height: 100%;
}

.categories_content-item-topic {
    display: flex;
    margin-bottom: 30px;
}

.icon_topic {
    width: 68px;
    height: 75px;
    line-height: 100px;
    background-color: #f7f7f7;
    text-align: center;
    border-radius: 10px;
    margin-right: 20px;
    display: inline-block;
}

/* Deafult height last child*/
.deafult_height {
    line-height: 80px;
}

.icon_topic img {
    max-width: 36px;
    width: 100%;
}

.heading_topic h4 {
    font-size: 20px;
    margin: 5px 0px 10px;
    font-weight: 700;
}

.heading_topic span {
    color: #afafaf;
    font-weight: 400;
}

.heading_topic span em {
    font-size: 15px;
    padding: 5px 8px;
    margin-right: 14px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-style: normal;
    font-weight: 500;
    color: var(--primary-color);
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 6%);
    display: inline-block;
}

.categories_content-picture {
    width: 262px;
}

.categories_content-picture img {
    border-radius: 15px;
    width: 100%;
}

.categories_content-button {
    margin-top: 30px;
    text-align: center;
}

.categories_content-button a {
    font-size: 15px;
    padding: 10px 30px;
    text-decoration: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    letter-spacing: 0.5px;
    font-weight: 500;
    display: inline-block;
    width: 100%;
    line-height: 1.5;
    transition: ease 0.3s;
}

.categories_content-button a:hover {
    color: #fff;
    background-color: var(--primary-color);
}

/* Contest Plans And Price Awards */
.contest_plans {
    width: 100%;
    margin-top: 120px;
}

.contest_plans-heading {
    text-align: center;
    margin-bottom: 70px;
}

.contest_plans-heading h6 {
    font-size: 15px;
    font-weight: 400;
    color: var(--primary-color);
    text-transform: uppercase;
}

.contest_plans-heading h4 {
    font-size: 30px;
    margin-top: 10px;
    font-weight: 700;
}

.contest_plans-heading em {
    font-style: normal;
    color: var(--primary-color);
}

.Contest_plans-pricing {
    display: flex;
    justify-content: space-between;
}

.Contest_plans-pricing-item {
    padding: 30px;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    width: 100%;
    transition: ease 0.5s;
}

.Contest_plans-pricing-item:hover {
    box-shadow: 0px 0px 15px rgb(0 0 0 / 6%);
    border: 1px solid transparent;
}

.Contest_plans-pricing-item:nth-child(2) {
    margin: 0px 24px;
}

.Contest_plans-pricing-item img {
    max-width: 240px;
    width: 100%;
}

.Contest_plans-pricing-item h4 {
    margin: 30px 0 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #d4d4d4;
    font-size: 20px;
    font-weight: 700;
    transition: ease 0.5s;
}

.Contest_plans-pricing-item:hover h4 {
    color: var(--primary-color);
}

.Contest_plans-pricing-list-1,
.Contest_plans-pricing-list-2,
.Contest_plans-pricing-list-3 {
    list-style: none;
}

.Contest_plans-pricing-list-1 li,
.Contest_plans-pricing-list-2 li,
.Contest_plans-pricing-list-3 li {
    font-size: 15px;
    margin-bottom: 15px;
    color: var(--primary-color);
}

.Contest_plans-pricing-list-1 li:last-child,
.Contest_plans-pricing-list-1 li:nth-child(4),
.Contest_plans-pricing-list-2 li:last-child {
    color: #afafaf;
    text-decoration: line-through;
}

.Contest_plans-pricing-item span {
    display: inline-block;
    margin-top: 24px;
    font-size: 30px;
    font-weight: 700;
    color: var(--primary-color);
}

.Contest_plans-pricing-button a {
    display: inline-block;
    padding: 12px 30px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: ease 0.3s;
    margin-top: 34px;
    text-decoration: none;
    border-radius: 10px;
}

.Contest_plans-pricing-button a:hover {
    color: #fff;
    background-color: var(--primary-color);
}

/* Footer */
.footer {
    margin-top: 120px;
    padding: 25px 0px;
    background-color: var(--primary-color);
}

.footer_item {
    text-align: center;
}

.footer_item p {
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
    color: #fff;
}

.footer_item a {
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.footer_item a:hover {
    color: #0a58ca;
}