.infor-user{
    text-align: center;
    margin-top: -80px;
}
.infor-user .main-content{

}
.infor-user .main-content .avartar{
    
}
.infor-user .main-content .avartar img{
    max-width: 170px;
    border-radius: 50%;
    border: 1px solid #afafaf;
}
.font-user-h4{
    font-size: 30px;
    font-weight: 700;
}
.infor-user .main-content .avartar h4{
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
}
.infor-user .main-content .row{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}
.infor-user .main-content .row .infor{
    padding: 35px 50px;
    border-radius: 15px;
    border: 1px solid #afafaf;
    margin-bottom: 120px;
}
.infor-user .main-content .row .infor span{
    font-size: 15px;
    color: #afafaf;
    display: block;
    margin-top: 5px;
}

.portfolio{
    padding: 80px 0px;
    background-color: #f7f7f7;
}
.portfolio .main-content .row{
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
}
.portfolio .main-content .row .thumb{
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 30px;
}
.portfolio .main-content .row .thumb img{
    width: 100%;
    overflow: hidden;
}

.portfolio .main-content .row .hover-effect{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(42, 42, 42, 0.9);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}
.portfolio .thumb:hover .hover-effect {
    opacity: 1;
    visibility: visible;
  }
.portfolio .main-content .row .hover-effect .content{
    color: white;
    text-align: center;
    padding: 30px;
    display: inline-block;
    width: 100%;
}
.portfolio .main-content .row .hover-effect .content h4{
    margin-bottom: 10px;
}
.portfolio .main-content .row .hover-effect .content span{
    font-size: 15px;
    color: #fff;
    margin: 10px;
}
.portfolio .main-content .row .hover-effect .content span em{
    font-style: normal;
    font-weight: 700;
}
.portfolio .main-content .row .hover-effect .content .icons{
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.portfolio .main-content .row .hover-effect .content .icons .box-icon{
    margin: 10px;
}
.portfolio .main-content .row .hover-effect .content .icons .box-icon a{
    width: 46px;
    height: 46px;
    display: inline-block;
    text-align: center;
    line-height: 46px;
    border-radius: 10px;
    background-color: #fff;
    color: #2a2a2a;
    font-size: 15px;
    text-decoration: none !important;
}
.portfolio .main-content .row .hover-effect .content .icons .box-icon a:hover{
    background-color: #00bdfe;
    color: #fff;
}
.main-button{
    text-align: center;
    margin-top: 30px;
}
.main-button a{
    font-size: 15px;
    color: #fff;
    background-color: #00bdfe;
    border: 1px solid #00bdfe;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 10px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    text-decoration: none !important;
}
.contract-us{
    margin-bottom: 120px;
    
}
.contract-us .main-content .section-heading{
    margin-top: 120px;
    margin-bottom: 70px;
}
.contract-us .main-content .row{
    display: flex;
    justify-content: space-between;
}
.contract-us .main-content .item{
    width: 416px;
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.contract-us .main-content .item i{
    font-size: 32px;
    background-color: #00bdfe;
    color: #fff;
    width: 80px;
    height: 80px;
    display: inline-block;
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
    margin-bottom: 25px;
}